.search-bar-container {
    height: 6rem;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBtn {
    border: none;
    outline: none;
    background: none;
}

.input-border {
    width: 35rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: 1px solid;
    border-color: rgb(197, 196, 195);
    border-width: 3px;
}

.search-bar {
    font-size: 17px;
    width: 90%;
    border: none;
    height: 2rem;
    background-color: transparent;
    color: white;
    outline: none;
}

.search-bar::placeholder {
    color: #c0bebe;
}

.input-border span {
    cursor: pointer;
    color: white;
}

.change {
    background-color: black;
}